$pacific-blue: hsla(191, 55%, 53%, 1);
$middle-blue: hsla(185, 37%, 65%, 1);
$middle-blue-transparent: hsla(185, 37%, 65%, 0.4);
$opal: hsla(185, 16%, 67%, 1);
$ash-gray: hsla(103, 5%, 74%, 1);
$almond: hsla(30, 55%, 89%, 1);
$error-background: hsla(359, 87%, 85%,1);
$error-text: hsla(0, 56%, 36%,1);

$nav-x-padding: 1.2rem;
$nav-y-padding: 0.8rem;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

*,*:focus,*:hover{
  outline:none;
}

* {
  transition: 0.3s;
}

html * {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  background: $almond;
}

.flip {
  transform: rotate(-180deg);
}

nav {
  background: $pacific-blue;
  display: flex;
  justify-content: space-between;

  a, #dropdown-wrapper {
    text-decoration: none;
    color: white;
    padding: $nav-y-padding $nav-x-padding;
  }

  a:hover, a:active, #dropdown-wrapper:hover, #dropdown-wrapper:active {
    background: $middle-blue;
  }
}

#logo-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  img {
    max-height: 2rem;
    margin-right: 1rem;
  }

  span {
    display: inline-block;
    font-family: 'Carter One', cursive;
    font-size: 1.5rem;
  }
}

#dropdown-wrapper {
  display: none;
}

#right-nav-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  transition: none;

  li {
    display: inline-block;
    height: 100%;

    a {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

#hero-section {
  height: 85vh;
  background-image: linear-gradient(
    115deg,
    $middle-blue-transparent,$middle-blue-transparent), url("/img/hero.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  h1 {
    color: white;
    margin: 0;
    font-size: 3rem;
    text-shadow: 1px 1px 4px black;
    font-weight: bold;
  }

  h2 {
    color: $almond;
    text-shadow: 1px 1px 2.5px black;
    font-weight: bold;
  }

  input {
    width: 9.5rem;
    margin-right: 1rem;
    @include placeholder {color: $pacific-blue};
    color: $pacific-blue;
  }

  input:focus, input:hover {
    border-color: $almond;
  }

  button {
    background: $middle-blue;
    color: white;
  }

  button:hover {
    background: $opal;
    border-color: $almond;
  }

  p {
    background: $error-background;
    color: $error-text;
    padding: 1rem;
    border: 0.1rem solid $error-text;
    border-radius: 0.2rem;
    opacity: 0;
  }
}

#table-placeholder {
  text-align: center;
  transition: none;

  h2 {
    color: $pacific-blue;
    text-shadow: 1px 1px 2px white;
    margin-top: 0;
  }

  button {
    background: $middle-blue;
    color: white;
  }

  button:hover {
    background: $opal;
    border-color: $middle-blue;
  }

}

.table-row {
  display: none;
  transition: none;
}

.container {
  padding: 3rem 3rem;
}

h2 {
  font-size: 2rem;
}

.trigger {
  border-radius: 0.4rem;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 0.2rem solid $pacific-blue;
}

button {
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

//--------------BREAKPOINTS------------------------

//Phones
@media (max-width: 576px) {
  nav {
    display: block;
  }

  #logo-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #dropdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    img {
      max-height: 1rem;
    }
  }

  #right-nav-wrapper {
    
    display: none;

    li {
      display: block;
    }

    li a {
      display: block;
      text-align: right;
    }
  }

  #hero-section {

    h1 {
      font-size: 1.8rem;
    }
    
    p {
      padding: 0.5rem;
    }

  }

  .container {
    padding: 2rem 1rem;
  }
  
  h2 {
    font-size: 1.3rem;
  }

  .trigger {
    font-size: 1rem;
    display: inline-block;
  }

}








/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/