input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*, *:focus, *:hover {
  outline: none;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  background: #f2e3d4;
}

.flip {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

nav {
  background: #45b1c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a, nav #dropdown-wrapper {
  text-decoration: none;
  color: white;
  padding: 0.8rem 1.2rem;
}

nav a:hover, nav a:active, nav #dropdown-wrapper:hover, nav #dropdown-wrapper:active {
  background: #85c1c7;
}

#logo-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-wrapper img {
  max-height: 2rem;
  margin-right: 1rem;
}

#logo-wrapper span {
  display: inline-block;
  font-family: 'Carter One', cursive;
  font-size: 1.5rem;
}

#dropdown-wrapper {
  display: none;
}

#right-nav-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  -webkit-transition: none;
  transition: none;
}

#right-nav-wrapper li {
  display: inline-block;
  height: 100%;
}

#right-nav-wrapper li a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero-section {
  height: 85vh;
  background-image: linear-gradient(115deg, rgba(133, 193, 199, 0.4), rgba(133, 193, 199, 0.4)), url("/img/hero.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#hero-section h1 {
  color: white;
  margin: 0 0 1rem 0;
  font-size: 3rem;
  text-shadow: 1px 1px 4px black;
  font-weight: bold;
}

#hero-section h2 {
  color: #f2e3d4;
  text-shadow: 1px 1px 2.5px black;
  font-weight: bold;
}

#hero-section input {
  width: 9.5rem;
  margin-right: 1rem;
  color: #45b1c9;
}

#hero-section input::-webkit-input-placeholder {
  color: #45b1c9;
}

#hero-section input:-moz-placeholder {
  color: #45b1c9;
}

#hero-section input::-moz-placeholder {
  color: #45b1c9;
}

#hero-section input:-ms-input-placeholder {
  color: #45b1c9;
}

#hero-section input:focus, #hero-section input:hover {
  border-color: #f2e3d4;
}

#hero-section button {
  background: #85c1c7;
  color: white;
}

#hero-section button:hover {
  background: #9db6b8;
  border-color: #f2e3d4;
}

#hero-section p {
  background: #fab7b9;
  color: #8f2828;
  padding: 1rem;
  border: 0.1rem solid #8f2828;
  border-radius: 0.2rem;
  opacity: 0;
}

#table-placeholder {
  text-align: center;
  -webkit-transition: none;
  transition: none;
}

#table-placeholder h2 {
  color: #45b1c9;
  text-shadow: 1px 1px 2px white;
}

#table-placeholder button {
  background: #85c1c7;
  color: white;
}

#table-placeholder button:hover {
  background: #9db6b8;
  border-color: #85c1c7;
}

.container {
  padding: 3rem 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

.trigger {
  border-radius: 0.4rem;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 0.2rem solid #45b1c9;
}

button {
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

#table-wrapper {
  display: none;
  border: 3px solid #5a5859;
  border-radius: 0.2rem;
}

.table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2.5px black;
}

.table-row > div {
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.table-row button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 1px 0.5px 0.5px black;
  padding: 0.5rem 1rem;
  background: #9db6b8;
  border: 3px solid #fab7b9;
}

.table-row button:hover {
  background: #fab7b9;
  border-color: #5a5859;
}

.header {
  background: #5a5859;
}

.even {
  background: #45b1c9;
}

.odd {
  background: #85c1c7;
}

.row-attribute {
  display: none;
}

#help-section {
  background: #9db6b8;
}

#help-section h2 {
  color: white;
  text-shadow: 1px 1px 2.5px black;
  text-align: center;
}

#help-section button {
  margin-top: 0.5rem;
  background: #85c1c7;
  text-shadow: 1px 1px 2px black;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border: 2px solid #5a5859;
  border-radius: 0.3rem;
}

#help-section button:hover {
  background: #45b1c9;
  border: 2px solid #f2e3d4;
}

.form-group {
  font-size: 1.5rem;
  width: 30rem;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.3rem;
}

.form-group input {
  background: #f2e3d4;
  border: 2px solid #5a5859;
  font-size: 1.3rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.form-group input:focus {
  background: white;
  color: #5a5859;
}

.normal > input {
  width: 100%;
}

.prices > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.prices > div input {
  text-align: center;
}

.form-submitted {
  font-size: 1.2rem;
  border: 3px solid #f2e3d4;
  color: white;
  background: #45b1c9;
  border-radius: 0.5rem;
}

.form-submitted p {
  margin: 1rem 1rem;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  #table-wrapper {
    border: none;
  }
  .table-row.header {
    display: none;
  }
  .even, .odd {
    background: #45b1c9;
  }
  .table-row {
    border: 3px solid #5a5859;
    margin-top: 1.5rem;
  }
  .row-attribute {
    display: block;
  }
  .table-row {
    display: block;
  }
  .row-name {
    background: #5a5859;
    font-size: 1.3rem;
  }
  .row-distance, .row-filling, .row-crown, .row-root {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .row-distance, .row-crown {
    background: #9db6b8;
  }
  .row-button {
    background: #85c1c7;
  }
  .row-button button {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  nav {
    display: block;
  }
  #logo-dropdown-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #dropdown-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  #dropdown-wrapper img {
    max-height: 1rem;
  }
  #right-nav-wrapper {
    display: none;
  }
  #right-nav-wrapper li {
    display: block;
  }
  #right-nav-wrapper li a {
    display: block;
    text-align: right;
  }
  #hero-section h1 {
    font-size: 1.8rem;
  }
  #hero-section p {
    padding: 0.5rem;
  }
  .container {
    padding: 2rem 1rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .trigger {
    font-size: 1rem;
    display: inline-block;
  }
  #help-section form {
    text-align: center;
  }
  #help-section form * {
    font-size: 1.1rem;
  }
  #help-section form button {
    padding: 0.6rem 4rem;
  }
  .form-group {
    width: auto;
  }
  .prices > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.5rem;
  }
  .prices > div input {
    text-align: left;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
/*# sourceMappingURL=style.css.map */